<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/anketa.css">
    <title>Anketa</title>
</head>
<body>
    <div class="container">
        <h1>ANKETA</h1>

        <div class="link home">
            <a href="/">На главную</a>
        </div>

        <div class="code">
            <pre>
                <code>
                    <span class="variable">let</span> name = <span class="function">prompt</span>('Ваше имя?', '');
                    <span class="variable">let</span> surname =  <span class="function">prompt</span>('Ваша фамилия?', '');
                    <span class="variable">let</span> patronymic =  <span class="function">prompt</span>('Ваше отчество?', '');
                    <span class="variable">let</span> age = <span class="function">prompt</span>('Ваш возраст?', '');
                    <span class="variable">let</span> sex = <span class="function">confirm</span>('Ваш пол - мужской? ок - да, отмена - нет.');
                    <span class="variable">let</span> pension;

                    <span class="operation">if</span> (sex) {
                        sex = 'мужской';
                    } <span class="operation">else</span> {
                        sex = 'женский';
                    }

                    <span class="operation">for</span> (<span class="variable">let</span> i = 0; i < 1; i++) {
                        age = <span class="function">parseInt</span>(age);

                        <span class="operation">if</span> (name === null || name === '') {
                            name = <span class="function">prompt</span>('Ваше имя?', '');
                            i--;
                        } <span class="operation">else if</span> (surname === null || surname === '') {
                            surname = <span class="function">prompt</span>('Ваша фамилия?', '');
                            i--
                        } <span class="operation">else if</span> (patronymic === null || patronymic === '') {
                            patronymic = <span class="function">prompt</span>('Ваше отчество?', '');
                            i--
                        } <span class="operation">else if</span> (isNaN(age)) {
                            age = <span class="function">prompt</span>('Ваш возраст?', '');
                            i--
                        } <span class="operation">else</span> {
                            <span class="operation">break</span>;
                        }    
                    }

                    <span class="operation">if</span> (age >= 65 && sex === 'мужской') {
                        pension = 'да';
                    } <span class="operation">else if</span> (age >= 60 && sex === 'женский') {
                        pension = 'да';
                    } <span class="operation">else</span> {
                        pension = 'нет';
                    }

                    <span class="variable">const</span> ageInDays = age * 365;
                    <span class="variable">const</span> afterFive = age + 5;

                    <span class="function">alert</span>(`
                        ваше ФИО: ${surname} ${name} ${patronymic}
                        ваш возраст в годах: ${age}
                        ваш возраст в днях: ${ageInDays}
                        через 5 лет вам будет: ${afterFive}
                        ваш пол: ${sex}
                        вы на пенсии: ${pension}
                    `);
                </code>
            </pre>
        </div>
    </div>

    <script src="/js/anketa.js"></script>
    
</body>
</html>