<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/b2.css">
    <title>B2</title>
</head>
<body>
    <div class="container">
        <h1>B2</h1>

        <div class="link home">
            <a href="/">На главную</a>
        </div>

        <pre>
            <code>
                function <span class="function">flipString</span>(str) {
                    <span class="operation">return</span> str.<span class="function">split</span>('').<span class="function">reverse</span>().<span class="function">join</span>('');
                }
                
                console.<span class="function">log</span>(<span class="function">flipString</span>('Hello World'));
                console.<span class="function">log</span>(<span class="function">flipString</span>('а роза упала на лапу азора'));
            </code>
        </pre>
    </div>

    <script src="/js/b2.js"></script>
</body>
</html>