<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/b4.css">
    <title>B4</title>
</head>
<body>
    <div class="container">
        <h1>B4</h1>

        <div class="link home">
            <a href="/">На главную</a>
        </div>

        <pre>
            <code>
                function <span class="function">replaceСharacters</span> (str) {
                    str = str.<span class="function">replace</span>(/&/g, '&amp;');
                    str = str.<span class="function">replace</span>(/</g, '&lt;');
                    str = str.<span class="function">replace</span>(/>/g, '&gt;');
                    str = str.<span class="function">replace</span>(/'/g, '&apos;');
                    str = str.<span class="function">replace</span>(/"/g, '&quot;');
                
                    <span class="operation">return</span> str;
                }
                
                function <span class="function">buildWrapper</span>(teg) {
                    <span class="operation">return</span> function (str) {
                        str = <span class="function">replaceСharacters</span>(str);
                
                        <span class="operation">return</span> `<${teg}>${str}</${teg}>`
                    }
                }
                
                <span class="variable">const</span> wrapH1 = <span class="function">buildWrapper</span>('H1');
                
                console.<span class="function">log</span>(<span class="function">wrapH1</span>('Заголовок в H1 теге'));
            </code>
        </pre>
    </div>

    <script src="/js/b4.js"></script>
</body>
</html>