<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/clock_dom.css">
    <title>CLOCK_DOM</title>
</head>
<body>
    <div class="container">
        <h1>CLOCK_DOM</h1>

        <div class="link home">
            <a href="/">На главную</a>
        </div>

        <div class="wrapper_clock"></div>
    </div>

    <script src="/js/clock_dom.js"></script>
</body>
</html>