<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/drink.css">
    <title>DRINK</title>
</head>
<body>
    <div class="container">
        <h1>DRINK</h1>

        <div class="link home">
            <a href="/">На главную</a>
        </div>
        <div class="wrapper_btn">
            <button class="btn addBtn">Ввод информации о напитке</button>
            <button class="btn infoBtn">Получение информации о напитке</button>
            <button class="btn deleteBtn">Удаление информации о напитке</button>
            <button class="btn getAllBtn">Перчень всех напитков</button>
        </div>
       
    </div>

    <script src="/js/drink.js"></script>
</body>
</html>