<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <h1>Главная</h1>

       <div class="links_wrapper">
            <span class="link">
                <a href="/anketa">ANKETA</a>
            </span>

            <span class="link">
                <a href="/a2">A2</a>
            </span>

            <span class="link">
                <a href="/a3">A3</a>
            </span>

            <span class="link">
                <a href="/a4">A4</a>
            </span>

            <span class="link">
                <a href="/treesum">TREESUM</a>
            </span>

            <span class="link">
                <a href="/b1">B1</a>
            </span>

            <span class="link">
                <a href="/b2">B2</a>
            </span>

            <span class="link">
                <a href="/b4">B4</a>
            </span>

            <span class="link">
                <a href="/b5">B5</a>
            </span>

            <span class="link">
                <a href="/b6">B6</a>
            </span>
       </div>
    </div>
</body>
</html>