* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    min-height: 300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.link {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 150px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.418);
    transition: all .7s;
}

.link.link_form_valid {
    width: 190px;
}

.link.link_clock_svg {
    width: 190px;
}

.link.link_clock_canvas {
    width: 190px;
}

.link:hover {
    width: 170px;
    height: 50px;
}

.link.link_form_valid:hover {
    width: 200px;
}

.link.link_clock_svg:hover {
    width: 200px;
}

.link.link_clock_canvas:hover {
    width: 200px;
}

.link a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: all .7s; 
    width: 100%;
    line-height: 38px;    
}

.link_drink_class a{
    font-size: 17px;
}

.link:hover a{
    font-size: 23px;
}

.link_drink_class:hover a{
    font-size: 20px;
}

.link.link_form_valid:hover a {
    font-size: 21px;
}

.link.link_clock_svg:hover a {
    font-size: 21px;
}

.link.link_clock_canvas:hover a {
    font-size: 21px;
}

.link.home a {
    font-size: 18px;
}

.link.home:hover {
    width: 170px;
    height: 50px;
}

.link.home:hover a{
    font-size: 22px;
}

.done {
    color: green;
}

pre {
    background: #2d2d2d;
    border-radius: 20px;
    margin-top: 20px;
    max-width: 900px;
}


pre code {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    color: white;
}

code .function {
    color: #f08d49;
}

code .operation {
    color: rgb(206, 48, 206);
}

code .variable {
    color: rgb(79, 79, 245);
}

code .class {
    color: rgb(99, 226, 67);
}