body {
    background-color: rgb(196, 227, 245);
}

.links_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
